/* =Containers -----------------------------------------------------------------*/
.container {margin-left: auto;margin-right: auto;width: 1000px;}

/* =Grid >> Global -------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	display: inline; float: left; margin-left: 12px; margin-right: 12px;}

/* =Grid >> 12 Columns ---------------------------------------------------------*/
.container .grid_1 {width: 60px;}
.container .grid_2 {width: 144px;}
.container .grid_3 {width: 228px;}
.container .grid_4 {width: 312px;}
.container .grid_5 {width: 396px;}
.container .grid_6 {width: 480px;}
.container .grid_7 {width: 564px;}
.container .grid_8 {width: 648px;}
.container .grid_9 {width: 732px;}
.container .grid_10 {width: 816px;}
.container .grid_11 {width: 900px;}
.container .grid_12 {width: 984px; position: relative;}


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
